# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.env.local

# Ignore environment files
.env
.env.*.local

# Ignore Supabase generated keys
.supabase/access-token
.supabase/refresh-token

# Ignore Supabase local state files
.supabase/config.json
.supabase/functions/_internal/*
.supabase/.temp/
.supabase/.temp/*
supabase/.temp/*

# Ignore Docker volumes (optional)
volumes/
*.pid

# Ignore local storage (e.g. uploaded files if using file backend)
supabase/storage
storage/

# Logs
logs
*.log

# OS / Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/


workers/process-dicom/node_modules/
workers/process-dicom/.wrangler/

.vercel
