@import "tailwindcss";
@import "@fontsource-variable/ibm-plex-sans";
@import "@fontsource/poppins";

:root {
  --font-sans: "IBM Plex Sans Variable", sans-serif;
  --font-serif: "IBM Plex Serif Variable", serif;
}

/* fix popover z-index */
.react-tiny-popover-container {
  z-index: 100;
  pointer-events: none;
}

@keyframes liquid {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bubble-rise {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px -40px;
  }
}
